/* 全局样式 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7efd6; /* 温暖的背景色 */
}

header {
  text-align: center;
  background-color: #ffcc00;
  padding: 20px;
}

.animated-title {
  animation: bounceIn 2s ease-out;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  color: #ff6600;
}

img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.goal-chart {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.goal {
  background-color: #ffa500;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

/* 动画 */
@keyframes bounceIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
